@model CPMSDbFirst.Models.Author

@{
    ViewData["Title"] = "Author Registration";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CPMS.styles.css" asp-append-version="true" />
    <style>
        body{
                background-color:lightgray;
        }
        label{
                background-color:white;
                padding-bottom:5px;
                padding-left:7px;
                border-style: solid;
                font-weight:bold;
                display: inline-block;
                float: left;
                width: 250px;
                height:30px;
                text-align: left; /*Change to right here if you want it close to the inputs*/
                white-space: nowrap;
                margin-bottom: 25px;
        }
        span {
            font-size:14pt;
            font-weight:bold;
            color:red; 
        }
        input  {
                padding-bottom:5px;
                padding-left:10px;
                border-style: solid;
                border-color:black;
                border-width: 3px;
                font-weight:bold;
                width: 250px;
                height:30.5px;
                margin-left:50px;
                white-space: nowrap; /* Prevents wrapping */
                margin-bottom: 25px;
        }
        .column1 {
             display: inline-block;
             white-space: nowrap;
             float:left;
             margin-right: 150px;
        }
        .column2{
            float:right;
        }
        .continue {
            margin-top:85px;
            border-width:3px;
        }
        .continue:hover {
            background-color: yellow;
        }
    </style>
</head>
<h1 style="border-style:solid; padding-left:7.5px; background-color:white;padding-bottom:10px;">Author Registration</h1>

<h5 style="border-style:solid; padding-left:7.5px; background-color:white;padding-bottom:10px">Instructions: Please fill out the information below</h5>

<hr />
<div>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" r></div>
        <div class="column1">
        <span asp-validation-for="FirstName" ></span>
        <div class="">
            <label asp-for="FirstName" class=""></label>
            <input asp-for="FirstName"  />
        </div>
        <span asp-validation-for="MiddleInitial" ></span>
        <div class="">
            <label asp-for="MiddleInitial" class=""></label>
            <input asp-for="MiddleInitial"  />
        </div>
        <span asp-validation-for="LastName" ></span>
        <div class="">
            <label asp-for="LastName" class=""></label>
            <input asp-for="LastName"  />
        </div>
        <span asp-validation-for="EmailAddress" ></span>
            <div class="">
            <label asp-for="EmailAddress" class=""></label>
            <input asp-for="EmailAddress"  />
        </div>
        <span asp-validation-for="Password" ></span>
        <div class="">
            <label asp-for="Password" class=""></label>
            <input asp-for="Password"  />
        </div>
        <span asp-validation-for="Affiliation" ></span>
        <div class="">
            <label asp-for="Affiliation" class=""></label>
            <input asp-for="Affiliation"  />
        </div>
        <div class="">
            <label asp-for="Department" class=""></label>
            <input asp-for="Department"  />
        </div>
            <span asp-validation-for="Department" ></span>
        </div>
        <div class="column2">
        <div class="">
            <label asp-for="Address" class=""></label>
            <input asp-for="Address"  />
            <span asp-validation-for="Address" ></span>
        </div>
        <div class="">
            <label asp-for="City" class=""></label>
            <input asp-for="City"  />
            <span asp-validation-for="City" ></span>
        </div>
        <div class="">
            <label asp-for="State" class=""></label>
            <input asp-for="State"  />
            <span asp-validation-for="State" ></span>
        </div>
        <div class="">
            <label asp-for="ZipCode" class=""></label>
            <input asp-for="ZipCode"  />
            <span asp-validation-for="ZipCode" ></span>
        </div>
        <div class="">
            <label asp-for="PhoneNumber" class=""></label>
            <input asp-for="PhoneNumber"  />
            <span asp-validation-for="PhoneNumber" ></span>
        </div>
        </div>
        <div class="">
            <input type="submit" value="Continue and Upload Paper(s)" style= "float:right" class="continue"/>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
